.card {
  width: 500px;
  position: relative;
  margin: auto;
  padding: 20px 30px;
  display: table;
  margin: 7% auto auto auto;
  border-radius: 1px;
}
.buttons {
  outline: none;  
  margin:5% auto auto auto;
  padding: 8px;
}
.buttons #quote-button {
  float: right;
  color: white;
  cursor: pointer;
}
.buttons #tweet {
  color: white;
}
