body {
  max-width: 800px;
  padding: auto;
  margin: auto;
  color: #161616;
  font-family: "Roboto", sans-serif;
  background-color: #161616;
}
.infobox {
  color: white;
}
.temp {
  display: inline-block;
}
.cf {
  display: inline-block;
}
.title {
  color: white;
}